<%= form_with(model: card, class: "contents", data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :img %>
    <%= form.text_field :img, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :minimal_cost %>
    <%= form.number_field :minimal_cost, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :white %>
    <%= form.check_box :white, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :red %>
    <%= form.check_box :red, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :black %>
    <%= form.check_box :black, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :green %>
    <%= form.check_box :green, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :blue %>
    <%= form.check_box :blue, class: "block mt-2 h-5 w-5" %>
  </div>

  <template data-nested-form-target="template">
    <%= form.fields_for :comments, Comment.new, child_index: 'NEW_RECORD' do |comment_fields| %>
      <%= render "comment_form", form: comment_fields %>
    <% end %>
  </template>

  <button type="button" data-action="nested-form#add" class="block rounded-lg py-3 px-5 my-2 bg-blue-500 text-white font-medium">Add format</button>

  <%= form.fields_for :comments do |comment_fields| %>
    <%= render "comment_form", form: comment_fields %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>